*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

::before,
::after {
    --tw-content: '';
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: inherit;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button {
    text-transform: none;
}

button,
[type='button'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

:-moz-focusring {
    outline: auto;
}

:-moz-ui-invalid {
    box-shadow: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
    margin: 0;
}

textarea {
    resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af;
}

button {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

img,
svg,
video {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

*,
::before,
::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.right-0 {
    right: 0px;
}

.top-10 {
    top: 2.5rem;
}

.bottom-0 {
    bottom: 0px;
}

.top-0 {
    top: 0px;
}

.left-0 {
    left: 0px;
}

.z-50 {
    z-index: 50;
}

.z-10 {
    z-index: 10;
}

.-z-10 {
    z-index: -10;
}

.float-left {
    float: left;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mt-16 {
    margin-top: 4rem;
}

.-mb-5 {
    margin-bottom: -1.25rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.-mt-2 {
    margin-top: -0.5rem;
}

.mt-20 {
    margin-top: 5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.h-16 {
    height: 4rem;
}

.h-full {
    height: 100%;
}

.h-4 {
    height: 1rem;
}

.h-500px {
    height: 500px;
}

.h-600px {
    height: 600px;
}

.h-auto {
    height: auto;
}

.h-\[140px\] {
    height: 140px;
}

.h-10 {
    height: 2.5rem;
}

.min-h-\[150px\] {
    min-height: 150px;
}

.min-h-\[160px\] {
    min-height: 160px;
}

.w-full {
    width: 100%;
}

.w-32 {
    width: 8rem;
}

.w-auto {
    width: auto;
}

.w-4 {
    width: 1rem;
}

.w-\[150px\] {
    width: 150px;
}

.w-400px {
    width: 400px;
}

.w-300px {
    width: 300px;
}

.min-w-\[120px\] {
    min-width: 120px;
}

.max-w-inner-content {
    max-width: 1300px;
}

.max-w-\[600px\] {
    max-width: 600px;
}

.max-w-4xl {
    max-width: 56rem;
}

.max-w-\[60px\] {
    max-width: 60px;
}

.max-w-\[100px\] {
    max-width: 100px;
}

.basis-full {
    flex-basis: 100%;
}

.home-effect {
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom-right-radius: 30%;
    max-width: 2000px;
    background: rgb(255, 228, 207);
    background: linear-gradient(100deg, #fbe1cc 0%, #d1d5f0 70%, #fbe1cc 100%);
}

.white-button {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(47 127 184 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.white-button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(237 244 250 / var(--tw-bg-opacity));
}

@media (min-width: 1024px) {
    .white-button {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

}

.white-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 20px #2f7fb83b;
}

.home-effect {
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 2000px;
    background: rgb(255, 228, 207);
    background: linear-gradient(100deg, #fbe1cc 0%, #d1d5f0 70%, #fbe1cc 100%);
}

.jumbotron-gradient {
    background: rgb(255, 228, 207);
    background: linear-gradient(120deg, #e2e6fc 0%, #e2e6fc 20%, #fbe1cc 80%, #fbe1cc 100%);
}

.service-card {
    height: 250px;
    width: 100%;
    max-width: 350px;
}

.card-scene {
    perspective: 600px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity));
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    transform: rotateY(180deg);
}

.card:hover {
    box-shadow: 0px 0px 12px -4px #d4d5db;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-indicator {
    position: absolute;
    right: 1.25rem;
    bottom: 0.75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group:hover .card-indicator {
    opacity: 1;
}

@media (min-width: 640px) {
    .card-indicator {
        opacity: 0;
    }
}

.card-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    transform: rotateY(180deg);
    z-index: 1;
    background-color: #ffffff;
}

.card-heading h4 {
    margin-top: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    text-align: center;
    color: rgb(51 65 85 / var(--tw-text-opacity));
}

.card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.card-detail .light-heading {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
}

.card-detail h5 {
    margin-top: 0.25rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
}

.product-card {
    height: 280px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity));
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card:hover {
    box-shadow: 0px 0px 12px -4px #d4d5db;
}

.article-card {
    height: 300px;
    width: 100%;
    max-width: 350px;
    cursor: pointer;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity));
    transition-property: box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.article-card:hover .detail {
    opacity: 1;
}

.article-card:hover {
    box-shadow: 0px 0px 12px -4px #d4d5db;
}

.article-card .detail {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 640px) {
    .article-card .detail {
        opacity: 0;
    }
}

.article-card h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
}

.article-tag {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0.125rem;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
}

.article-time {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
}

.footer-effect {
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 2000px;
    background: rgb(255, 228, 207);
    background: linear-gradient(120deg, #e2e6fc 0%, #e2e6fc 20%, #fbe1cc 80%, #fbe1cc 100%);
}

.image-container {
    height: 160px;
    overflow: hidden;
}

.listBorder:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px #1a3454;
}

.listBorder:hover.listBorder:after {
    animation: listBorderAnim 0.2s linear forwards;
}

@keyframes listBorderAnim {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.flagImage {
    width: 30px;
    height: auto;
}

.flagImage img {
    object-fit: fill;
}

.socialLogin {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.odooHomepage {
    background-image: url('http://127.0.0.1:8000/static/images/odooHomepage.png');
}

.firstAnim img {
    animation: firstAnim 2s forwards;
    opacity: 0;
}

@keyframes firstAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* mega menu styles by vishal */

#main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdownMenu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    top: 100%;
    transition: 0.2s all;

}

.dropdownMenu>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav ul li:hover .dropdownMenu {
    opacity: 1;
    visibility: visible;
}

.megamenu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    transition: 0.2s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.megamenu>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav ul li:hover .megamenu {
    opacity: 1;
    visibility: visible;
    animation: footAnim 0.1s all;
}

nav ul li:hover footer {
    z-index: -1;
}

.megamenuitems ul {
    display: flex;
    flex-direction: column;
}

.megamenuitems ul li {
    list-style: none;
    padding: 7px;
}

#navbar-div {
    height: inherit !important;
    display: flex;
    align-items: center;
}

.menulistBorder:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px #4f4f4f;
}

.menulistBorder:hover.menulistBorder {
    animation: translat 0.2s all;
}

.menulistBorder:hover.menulistBorder:after {
    animation: listBorderAnim 0.2s linear forwards;
}

@keyframes translat {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(2);

    }
}

.navBlogCard {
    transition: 0.2s all ease-in-out;
}

.navBlogCard:hover {
    background: #1a3454;
    transform: translateY(-5px);
}

.navBlogCard:hover.navBlogCard>a {
    background: #ffffff;
    color: #1a3454;
}

.navBlogCard:hover.navBlogCard>h2 {
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .megamenuitems {
        flex-basis: 30%;
    }
}

#triangle-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 40px solid white;
    border-bottom: 20px solid transparent;
}

.computer {
    position: relative;
    opacity: 1;

    z-index: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.computer #gif {
    position: absolute;
    top: 47%;
    left: 50%;
    width: 72%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -10;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.computer img {
    z-index: 1;
}

.media-image {
    display: inline-block;
    width: auto;
}

.media-image img {
    display: block;
}

.media-image:hover .label {
    padding-left: 1em;
}

.image-frame {
    position: relative;
    padding: 5px;
    background-color: #FFF;
    -moz-box-shadow: 0 1px 2px rgba(31, 41, 51, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(31, 41, 51, 0.5);
    box-shadow: 0 1px 2px rgba(31, 41, 51, 0.5);
}

.image-frame:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    -moz-box-shadow: 0 0 30px rgba(31, 41, 51, 0.25) inset;
    -webkit-box-shadow: 0 0 30px rgba(31, 41, 51, 0.25) inset;
    box-shadow: 0 0 30px rgba(31, 41, 51, 0.25) inset;
    z-index: 10;
}

.label {
    position: absolute;
    top: -20px;
    left: -5px;
    display: inline-block;
    padding: 0 0.75em;
    border-radius: 5px 2px 2px 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2.35em;
    font-weight: bold;
    color: #6b4e00;
    background-color: #ffc938;
    z-index: 11;
    -moz-border-radius: 5px 2px 2px 0;
    -webkit-border-radius: 5px;
    border-radius: 5px 2px 2px 0;
    -moz-box-shadow: 0px 2px 0 rgba(31, 41, 51, 0.1);
    -webkit-box-shadow: 0px 2px 0 rgba(31, 41, 51, 0.1);
    box-shadow: 0px 2px 0 rgba(31, 41, 51, 0.1);
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.label:before {
    content: " ";
    display: block;
    position: absolute;
    width: 5px;
    height: 4px;
    left: 0;
    bottom: -4px;
    background-color: #ffc938;
}

.label:after {
    content: " ";
    display: block;
    position: absolute;
    width: 5px;
    height: 6px;
    bottom: -6px;
    left: 0;
    background-color: #9e7300;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 0 0 5px;
}

/* styles by vishal for carousel */

@media screen and (max-width:600px) {
    .home-effect {
        border-bottom-right-radius: 0%;
    }
}

.btnSlider {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s all ease;
}

.btnSlider:hover {
    transform: scale(1.03);
}