{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}" />
  <script src="https://js.stripe.com/v3/"></script>
  <!-- resources import starts -->
  <!-- <script defer src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  <link rel="stylesheet" href="{% static 'css/products/checkoutCustom.css' %}" />

  <link rel="stylesheet" href="{% static 'css/products/checkoutBuild.css' %}" />
  <link rel="stylesheet" href="{% static 'css/techneith/megamenu.css' %}">

  <!-- resources import starts -->
  <title>Checkout | Techneith</title>
</head>

<body class="">

  <!-- Sidenav -->
  <nav id="sidenav-5"
    class="fixed left-0 top-0 z-[1035] h-screen w-60 -translate-x-full overflow-hidden shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] data-[te-sidenav-hidden='false']:translate-x-0 dark:bg-zinc-800"
    data-te-sidenav-init data-te-sidenav-hidden="true" data-te-sidenav-accordion="true">
    <ul class="relative m-0 list-none px-[0.2rem]" data-te-sidenav-menu-ref>
      <li class="relative">
        <a href="/" class="flexcursor-pointer 
          items-center truncate rounded-[5px] w-full py-4 px-6 text-center
          text-[1.8rem] text-white outline-none transition cursor-pointer
          duration-300 ease-linear hover:bg-slate-50 hover:text-inherit
           " data-te-sidenav-link-ref>
          <span>
            TECHNEITH
          </span>
        </a>
      </li>
      <li class="relative">
        <a class="flex h-12 cursor-pointer items-center 
          truncate rounded-[5px] py-4 px-6 text-[1.2rem] font-semibold
          text-white outline-none transition duration-300 ease-linear 
          " data-te-sidenav-link-ref>
          <span>Connectors</span>
          <span
            class="absolute right-0 ml-auto mr-[0.8rem] transition-transform duration-300 ease-linear motion-reduce:transition-none [&>svg]:text-gray-600 dark:[&>svg]:text-gray-300"
            data-te-sidenav-rotate-icon-ref>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
              <path fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd" />
            </svg>
          </span>
        </a>
        <ul class="!visible relative m-0 hidden list-none p-0 data-[te-collapse-show]:block "
          data-te-sidenav-collapse-ref>
          <li class="relative py-2">
            <a href="/products/odoo_power_bi_direct_connector/" class="flex h-6 cursor-pointer items-center truncate rounded-[5px] 
              py-6 pl-[3.4rem] pr-6 text-[0.9rem] text-white outline-none transition duration-300 ease-linear"
              data-te-sidenav-link-ref>PowerBI Odoo <br> Direct Connector</a>
          </li>
          <li class="relative py-2">
            <a href="/products/tableau_direct_connector/" class="flex h-6 cursor-pointer items-center truncate rounded-[5px] 
              py-6 pl-[3.4rem] pr-6 text-[0.9rem] text-white outline-none transition duration-300 ease-linear"
              data-te-sidenav-link-ref>Tableau Odoo <br> Direct Connector</a>
          </li>
          <li class="relative py-2">
            <a href="/dashboards/budget-dashboard/" class="flex h-6 cursor-pointer items-center truncate rounded-[5px] 
              py-6 pl-[3.4rem] pr-6 text-[0.9rem] text-white outline-none transition duration-300 ease-linear"
              data-te-sidenav-link-ref>Advanced PowerBI <br> Direct Connector</a>
          </li>
        </ul>
      </li>
      <li class="relative">
        <a class="flex h-12 cursor-pointer items-center 
          truncate rounded-[5px] py-4 px-6 text-[1.2rem] font-semibold
          text-white outline-none transition duration-300 ease-linear 
          " data-te-sidenav-link-ref>
          <span>Services</span>
          <span
            class="absolute right-0 ml-auto mr-[0.8rem] transition-transform duration-300 ease-linear motion-reduce:transition-none [&>svg]:text-gray-600 dark:[&>svg]:text-gray-300"
            data-te-sidenav-rotate-icon-ref>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
              <path fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd" />
            </svg>
          </span>
        </a>
        <ul class="!visible relative m-0 hidden list-none p-0 data-[te-collapse-show]:block "
          data-te-sidenav-collapse-ref>
          <li class="relative py-2">
            <a href="/#dashboards" class="flex h-6 cursor-pointer items-center truncate rounded-[5px] 
              py-4 pl-[3.4rem] pr-6 text-[0.9rem] text-white outline-none transition duration-300 ease-linear"
              data-te-sidenav-link-ref>Dashboard Services</a>
          </li>
          <li class="relative py-2">
            <a href="/#contacts" class="flex h-6 cursor-pointer items-center truncate rounded-[5px] 
              py-4 pl-[3.4rem] pr-6 text-[0.9rem] text-white outline-none transition duration-300 ease-linear"
              data-te-sidenav-link-ref>Odoo Services</a>
          </li>
          <li class="relative py-2">
            <a href="/products/docket/" class="flex h-6 cursor-pointer items-center truncate rounded-[5px] 
              py-4 pl-[3.4rem] pr-6 text-[0.9rem] text-white outline-none transition duration-300 ease-linear"
              data-te-sidenav-link-ref>React Applications</a>
          </li>
        </ul>
      </li>
      <li class="relative">
        <a href="/products/" class="flex h-12 cursor-pointer items-center 
          truncate rounded-[5px] py-4 px-6 text-[1.2rem] font-semibold
          text-white outline-none transition duration-300 ease-linear 
          data-[te-sidenav-state-active]:text-inherit 
          data-[te-sidenav-state-focus]:outline-none" data-te-sidenav-link-ref>
          <span>All Products</span>
        </a>
      </li>
      <li class="relative">
        <a href="/blogs" class="flex h-12 cursor-pointer items-center 
          truncate rounded-[5px] py-4 px-6 text-[1.2rem] font-semibold
          text-white outline-none transition duration-300 ease-linear 
          data-[te-sidenav-state-active]:text-inherit 
          data-[te-sidenav-state-focus]:outline-none" data-te-sidenav-link-ref>
          <span>Blogs</span>
        </a>
      </li>
      <li class="relative">
        <a href="/about" class="flex h-12 cursor-pointer items-center 
          truncate rounded-[5px] py-4 px-6 text-[1.2rem] font-semibold
          text-white outline-none transition duration-300 ease-linear 
          data-[te-sidenav-state-active]:text-inherit 
          data-[te-sidenav-state-focus]:outline-none" data-te-sidenav-link-ref>
          <span>About Us</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="main-wrapper">
    <!-- Header -->
    <header
      class="z-50 fixed bg-white justify-between md:justify-evenly shadow-md backdrop-blur-lg top-0 flex items-center w-full">
      <div onclick="window.location='/#home'" class="cursor-pointer logo ml-6 w-auto flex justify-center items-center">
        <img src="{%static 'images/techneith-logo.png'%}" alt="techneithLogo" width="180px" />
      </div>
      <nav class="hidden lg:flex items-center justify-center w-full relative">
        <div class="flex w-full justify-center mx-2 px-2 rounded-md block backdrop-blur-sm sm:backdrop-blur-none">
          <ul class="flex flex-row gap-2 sm:mt-0 sm:pl-5">
            <li class="px-[20px] py-[20px]">
              <a class="text-[16px] no-underline transition-all ease-in border-b-2 border-transparent hover:border-[#1a3454] hover:underline-offset-1 hover:decoration-2 hover:decoration-[#5782b6] font-medium hover:transition-all ease-in-out delay-450 text-[#1a3454] hover:text-[#31537c] p-1"
                href="/products">Products
              </a>
              <div class="megamenu">
                <div class="bg-white flex flex-col justify-center py-4 px-6 rounded-lg">
                  <div class="flex w-full">
                    <h2 class="text-[#1a3454] text-2xl w-full font-semibold py-2 my-2 border-b-2">Featured Categories
                    </h2>
                  </div>
                  <div class="flex justify-center gap-8">
                    <div class="megamenuitems bg-[#1a3454] border-r-2 p-4 max-w-[310px] rounded-lg">
                      <div class="pb-3 border-b-2 flex justify-between">
                        <h3 class="text-lg text-white font-semibold ">Connectors</h3>
                        <div class="bg-white rounded-lg p-[4px]">
                          <img src="{% static '/images/plug.png'%}" alt="connector png" width="24px" />
                        </div>

                      </div>
                      <ul class="text-white pl-4 ">
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a href="/products/odoo_power_bi_direct_connector/" class="cursor-pointer ">PowerBI Odoo
                            Direct Connector</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a href="/products/tableau_direct_connector/" class="cursor-pointer ">Tableau Odoo
                            Direct Connector</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a href="/products/odoo_power_bi_advanced_connector/" class="cursor-pointer ">PowerBI Advanced
                            Odoo Connector</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a href="/products/inventory_planning_forecasting_odoo/" class="cursor-pointer ">Inventory
                            Forecasting</a>
                        </li>
                        <li class="relative w-fit border-b-2 text-[#808080] !pl-0">
                          <a href="/products/" class="cursor-pointer">See All Connectors →</a>
                        </li>
                      </ul>
                    </div>
                    <div class="megamenuitems p-4 max-w-[310px] rounded-lg">
                      <div class="pb-3 border-b-2 border-[#1a3454] flex justify-between">
                        <h3 class="text-lg text-[#1a3454] font-semibold">Dashboards</h3>
                        <div class="bg-white rounded-lg p-[4px]">
                          <img src="{% static '/images/dashboard.png'%}" alt="connector png" width="24px" />
                        </div>

                      </div>
                      <ul class="text-[#333333] pl-4 ">
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/dashboards/budget-dashboard/">Budget Dashboard</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/dashboards/sale_dashboard/">Sale Dashboard</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/dashboards/odoo-profit-loss-dashboard-power-bi/">Profit &
                            Loss Dashboard</a>
                        </li>
                        <li class="relative w-fit border-b-2 text-[#808080] !pl-0">
                          <a class="cursor-pointer" href="/#dashboards">See All Dashboards →</a>
                        </li>
                      </ul>
                    </div>
                    <div class="megamenuitems border-r-2 p-4 max-w-[310px] rounded-lg">
                      <h3 class="text-lg text-[#1a3454] font-semibold pb-3 border-[#1a3454] border-b-2">Resources
                      </h3>
                      <ul class="text-[#333333] pl-4 ">
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/resources/odoo-power-bi-connector-installation-guide/">Odoo
                            PowerBI Connector Manual</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="{%static 'images/manual/Tableau-Manual.pdf'%}" download>Odoo
                            Tableau Connector Manual</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/#contacts">Free Trial</a>
                        </li>
                      </ul>
                    </div>
                    <div class="megamenuitems flex flex-col justify-center 
                    items-center mx-4 rounded-lg">
                      <h3 class="text-lg font-semibold pb-3">Want to book a personal meeting?</h3>
                      <img class="img-responsive mt-2" src="{% static 'images/chat.png' %}"
                        alt="want to know more about us?" width="80px" />
                      <a class="bg-[#1a3454] text-white py-2 px-4 rounded-full mt-2 shadow-lg" href="/#contacts">Contact
                        Us</a>
                    </div>
                  </div>
                </div>

              </div>
            </li>
            <li class="px-[20px] py-[20px]">
              <a class="text-[16px] no-underline transition-all ease-in border-b-2 border-transparent hover:border-[#1a3454] hover:underline-offset-1 hover:decoration-2 hover:decoration-[#5782b6] font-medium hover:transition-all ease-in-out delay-450 text-[#1a3454] hover:text-[#31537c] p-1"
                href="/" aria-current="page">Services</a>
              <div class="megamenu">
                <div class="bg-white flex flex-col justify-center py-4 px-6 rounded-lg">
                  <div class="flex w-full">
                    <h2 class="text-[#1a3454] text-2xl w-full font-semibold py-2 my-2 border-b-2">Top Services
                    </h2>
                  </div>
                  <div class="flex justify-center gap-8 flex-wrap">
                    {% comment %} <div class="megamenuitems flex flex-col justify-evenly items-center
                    shadow-lg border-r-2 my-4 py-4 px-3 max-w-[290px] rounded-lg shadow-lg
                    
                    ">
                      <img src="{% static 'images/service.png' %}" alt="connectorillustrator" width="50px" />
                      <h2 class=" text-lg text-center py-3">5+ years of trustworthy service</h2>
                      <a href="/about" class="bg-[#1a3454] rounded-lg py-2 px-4 text-white">Check all Services →</a>
                    </div> {% endcomment %}
                    <div class="megamenuitems p-4 max-w-[310px] rounded-lg">
                      <div class="pb-3 border-b-2 border-[#1a3454] flex justify-between">
                        <h3 class="text-lg text-[#1a3454] font-semibold ">Dashboard Services</h3>
                      </div>
                      <ul class="text-[#333333] pl-4 ">
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/#dashboards">Plug & Play Dashboards</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/#dashboards">Custom Power BI Dashboards</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/#contacts">Odoo Power BI Connection</a>
                        </li>
                      </ul>
                    </div>
                    <div class="megamenuitems p-4 max-w-[310px] rounded-lg">
                      <h3 class="text-lg text-[#1a3454] font-semibold pb-3 border-[#1a3454] border-b-2">Odoo Services
                      </h3>
                      <ul class="text-[#333333] pl-4 ">
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/#contacts">Odoo Implementation</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/#contacts">Odoo Customization</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/products/">Odoo Connectors</a>
                        </li>
                        <li class="relative w-fit border-b-2 text-[#808080] !pl-0">
                          <a class="cursor-pointer" href="/about/">Explore →</a>
                        </li>
                      </ul>
                    </div>
                    <div class="megamenuitems p-4 max-w-[310px] rounded-lg">
                      <h3 class="text-lg text-[#1a3454] font-semibold pb-3 border-[#1a3454] border-b-2">React
                      </h3>
                      <ul class="text-[#333333] pl-4 ">
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/blogs/can-we-add-react-in-odoo/">React Applications on
                            Odoo</a>
                        </li>
                        <li class="relative w-fit menulistBorder !pl-0">
                          <a class="cursor-pointer " href="/products/docket/">React Projects</a>
                        </li>
                        <li class="relative w-fit border-b-2 text-[#808080] !pl-0">
                          <a class="cursor-pointer" href="/#contacts/">Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="flex justify-center items-center">
                    <h3 class="text-lg font-semibold pr-4">Our Expertise </h3>
                    <div class="flex justify-center items-center">
                      <img class="img-responsive mr-4" src="{% static 'images/nav/odoo_logo.png' %}"
                        alt="want to know more about us?" width="80px" />
                      <img class="img-responsive mr-4" src="{% static 'images/nav/powerBi.png' %}"
                        alt="want to know more about us?" width="80px" />
                      <img class="img-responsive mr-4" src="{% static 'images/nav/tableauLogo.png' %}"
                        alt="want to know more about us?" width="80px" />
                    </div>
                  </div>
                </div>

              </div>
            </li>
            <li class="px-[20px] py-[20px]">
              <a class="text-[16px] no-underline transition-all ease-in border-b-2 border-transparent hover:border-[#1a3454] hover:underline-offset-1 hover:decoration-2 hover:decoration-[#5782b6] font-medium hover:transition-all ease-in-out delay-450 text-[#1a3454] hover:text-[#31537c] p-1"
                href="/blogs">Blogs</a>
              <div class="megamenu">
                <div class="bg-white flex flex-col py-4 px-6 rounded-lg">
                  <div class="flex w-full">
                    <h2 class="text-[#1a3454] text-2xl w-full font-semibold py-2 my-2 border-b-2">Popular Blogs
                    </h2>
                  </div>
                  <div class="justify-center gap-8 flex blogDiv">
                    <a href="/blogs/how-to-connect-odoo-with-power-bi/">
                      <div class="megamenuitems flex flex-col justify-evenly items-center
                      shadow-lg border-r-2 my-4 py-4 px-3 max-w-[290px] rounded-lg shadow-lg
                      hover:shadow-2xl navBlogCard
                      ">
                        <img src="{% static 'images/power_bi_connector/biconnectorillustration.jpeg' %}"
                          alt="connectorillustrator" width="150px" />
                        <h2 class=" text-lg text-center py-3">How to connect PowerBI with Odoo?</h2>
                        <div class="bg-[#1a3454] rounded-lg py-2 px-4 text-white">Read Blog →</div>
                      </div>
                    </a>
                    <a href="/blogs/can-we-add-react-in-odoo/">
                      <div class="megamenuitems flex flex-col justify-evenly items-center
                      shadow-lg border-r-2 my-4 py-4 px-3 max-w-[290px] rounded-lg shadow-lg
                      hover:shadow-2xl navBlogCard
                      ">
                        <img src="{% static 'images/react.png' %}" alt="connectorillustrator" width="150px" />
                        <h2 class=" text-lg text-center py-3">How to connect Odoo with React?</h2>
                        <div class="bg-[#1a3454] rounded-lg py-2 px-4 text-white">Read
                          Blog →</div>
                      </div>
                    </a>
                    <a href="/blogs/business-intelligence-for-odoo-erp/">
                      <div class="megamenuitems flex flex-col justify-evenly items-center
                      shadow-lg border-r-2 my-4 py-4 px-3 max-w-[290px] rounded-lg shadow-lg
                      hover:shadow-2xl navBlogCard
                      ">
                        <img src="https://www.techneith.com/media/images/Power_BI_Desktop_0TsHvb0.png"
                          alt="connectorillustrator" width="150px" />
                        <h2 class="text-lg text-center py-3">Business Intelligence for Odoo ERP</h2>
                        <div class="bg-[#1a3454] rounded-lg py-2 px-4 text-white">Read Blog →</div>
                      </div>
                    </a>

                    <div class="flex flex-col justify-center
                     items-center mx-4">
                      <!-- <h3 class="text-lg font-semibold pb-3">Read All Blogs</h3> -->
                      <!-- <img class="img-responsive mt-2" src="{% static 'images/blog.png' %}"
                        alt="want to know more about us?" width="80px" /> -->
                      <a class="bg-[#1a3454] text-white py-2 px-4 rounded-md mt-2 shadow-lg" href="/blogs/">All
                        Blogs →</a>
                    </div>
                  </div>
                </div>

              </div>
            </li>
            <li class="px-[20px] py-[20px]">
              <a class="text-[16px] no-underline transition-all ease-in border-b-2 border-transparent hover:border-[#1a3454] hover:underline-offset-1 hover:decoration-2 hover:decoration-[#5782b6] font-medium hover:transition-all ease-in-out delay-450 text-[#1a3454] hover:text-[#31537c] p-1"
                href="/about">About&nbsp;Us</a>
              <div class="dropdownMenu rounded-lg shadow-lg bg-white
                hover:shadow-2xl border-[#1a3454] hover:border-[#1a3454]
                 hover:underline-offset-1 hover:decoration-2 hover:decoration-[#5782b6]">
                <div class="justify-center flex flex-wrap rounded-lg">
                  <div class="flex flex-col justify-evenly items-center
                     py-4 px-5">
                    <ul class="text-[#333333]">
                      <li class="relative w-fit menulistBorder py-2 !pl-0">
                        <a class="cursor-pointer " href="/about/#ceonote">Team</a>
                      </li>
                      <li class="relative w-fit menulistBorder py-2 !pl-0">
                        <a class="cursor-pointer " href="/about/#slider">Our Clients</a>
                      </li>
                      <li class="relative w-fit menulistBorder py-2 !pl-0">
                        <a class="cursor-pointer " href="/about/#different">Our Goals</a>
                      </li>

                    </ul>
                  </div>
                </div>

              </div>
            </li>
            <li class="px-[20px] py-[20px]">
              <a class="text-[16px] no-underline transition-all ease-in border-b-2 border-transparent hover:border-[#1a3454] hover:underline-offset-1 hover:decoration-2 hover:decoration-[#5782b6] font-medium hover:transition-all ease-in-out delay-450 text-[#1a3454] hover:text-[#31537c] p-1"
                href="/#contacts">Contact Us</a>
            </li>
            <li class="px-[20px] py-[20px]">
              <a class="text-lg bg-slate-400 text-white rounded-md hover:text-gray-100 p-2 text-center sm:hidden"
                href="/#contacts">Get In Touch</a>
            </li>
          </ul>

        </div>
      </nav>
      <div
        class="invisible px-3 py-2 mr-2 rounded-full bg-gradient-to-r w-fit cursor-pointer from-[#F61B04] to-[#F58702] hover:bg-none ease-in transition-[1s] hover:bg-white text-white hover:text-[#184E73] w-[300px] hidden sm:flex relative">
        <a class="flex h-full w-full items-center justify-center" href="/products/odoo_power_bi_direct_connector/">
          <h3 id="typewriter-nav" class="text-center text-bold tracking-wide">Sale&nbsp;Ending&nbsp;Soon<h3
              class="font-bold animate-bounce">&nbsp;↓</h3>
          </h3>
          <div class="absolute top-[0px] right-[0px]">
            <span class="relative flex h-3 w-3">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#184E73] opacity-75"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
            </span>
          </div>
        </a>
      </div>
      <section class="lg:hidden mr-6 relative flex min-h-full items-start justify-center overflow-y-hidden">


        <!-- Toggler -->
        <button class="inline-block rounded bg-[#1a3454] px-6 py-2.5 text-xs font-medium uppercase 
          leading-tight text-white shadow-md transition duration-150 ease-in-out 
          hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg" data-te-sidenav-toggle-ref
          data-te-target="#sidenav-5" aria-controls="#sidenav-5" aria-haspopup="true">
          <span class="block [&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5">
              <path fill-rule="evenodd"
                d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                clip-rule="evenodd" />
            </svg>
          </span>
        </button>
        <!-- Toggler -->
      </section>
    </header>
    <!-- checkout code -->
    <div class="lg:h-[100vh] mt-[100px] md:mt-10 flex bg-[#FCFCFC] items-center justify-center w-full">
      <div class="h-full md:h-[598.5px] md:w-[80vw] md:rounded-lg shadow-2xl grid grid-cols-1 lg:grid-cols-2">
        <div
          class="imagecontainer shadow-xl lg:shadow-none lg:rounded-l-lg relative bg-cover bg-[url('{% static 'images/buy page/bgbluediamonds.jpg' %}')] flex-col flex justify-between">
          <div class="w-full text-center mt-5 sm:mt-16">
            <h1 class="mx-10 text-white font-bold text-4xl sm:text-5xl md:text-6xl">
              {{product.name}}
            </h1>
            <p class="text-white text-md sm:text-xl my-5">
              We provide odoo apps that suit your needs.
            </p>
          </div>
          <div class="backdrop-blur-md rounded-bl-lg flex gap-2 flex-col items-center justify-center w-full py-3">
            <p class="text-md text-center sm:text-lg text-white">
              Have Questions Regarding the Product?
            </p>
            <a href="/#contacts" class="p-2 shadow-inner px-5 bg-white rounded-full font-medium text-blue-800">Contact
              Us</a>
          </div>
        </div>
        <div class="formcontainer my-5 lg:my-0 bg-white h-full rounded-r-lg flex flex-col items-center justify-center">
          <img class="w-10 block h-auto" src="{% static 'images/techneithLogo.png' %}" alt="Techneith" />

          <h1 class="text-xl sm:text-2xl mt-2 font-medium">Purchase Form</h1>
          <div class="px-2 lg:mt-5 sm:px-16">
            <form onsubmit="event.preventDefault()" id="buyform">
              <input id="stripe_price" style="display:none;" name="stripe_price" value="{{product.stripe_price}}" />
              <input id="odoo_crm_tech_name" style="display:none;" name="odoo_crm_tech_name"
                value="{{product.odoo_crm_tech_name}}" />
              <div class="grid grid-cols-2 gap-4">
                <div class="form-group mb-3">
                  <div>
                    <label for="firstname" class="form-check-label inline-block text-gray-800">Name <span
                        class="text-red-500">*</span></label>
                    <input name="first_name" type="text" required
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="firstname" aria-describedby="emailHelp123" placeholder="First name" />
                  </div>
                </div>
                <div class="form-group mb-3 flex items-end">
                  <input name="last_name" type="text" class="form-control block
                w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white
                bg-clip-padding border border-solid border-gray-300 rounded
                transition ease-in-out m-0 focus:text-gray-700 focus:bg-white
                focus:border-blue-600 focus:outline-none" id="lastname" aria-describedby="emailHelp124"
                    placeholder="Last name">
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="email" class="form-check-label inline-block text-gray-800">Email Id <span
                    class="text-red-500">*</span></label>
                <input name="email" type="email" required
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="email" placeholder="Email Id" />
              </div>
              <div class="grid grid-cols-2 gap-4">
                <div class="form-group mb-3">
                  <label for="companyname" class="form-check-label inline-block text-gray-800">Company Name <span
                      class="text-red-500">*</span></label>
                  <input name="company_name" type="text" required
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="companyname" placeholder="Company Name" />
                </div>
                <div class="form-group mb-3">
                  <label for="version" class="form-check-label inline-block text-gray-800">Odoo Version <span
                      class="text-red-500">*</span></label>
                  <select name="odoo_version" required id="version"
                    class="form-select appearance-none text-gray-400 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    aria-label="Default select example">
                    <option value="">Version</option>
                    {% for i in product.form_parameters %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="productionurl" class="form-check-label inline-block text-gray-800">Odoo Production url
                  <span title="For Production... example: https://odoo.company.com"
                    class="text-sm text-blue-800">ⓘ</span></label>
                <input name="production_url" type="text"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="productionurl" placeholder="Odoo Production url" />
              </div>
              <div class="form-group mb-3">
                <label for="stagingurl" class="form-check-label inline-block text-gray-800">Odoo Staging url
                  <span title="For testing... example: https://test.company.com"
                    class="text-sm text-blue-800">ⓘ</span></label>
                <input name="staging_url" type="text"
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="stagingurl" placeholder="Odoo Staging url" />
              </div>
              <div class="w-full flex justify-center">
                <button type="submit" id="checkout_button"
                  class="my-3 px-10 py-3.5 bg-blue-600 text-white font-medium text-md leading-tight rounded shadow-md">
                  Checkout
                </button>
                <button id="processing_button" disabled
                  class="hidden cursor-not-allowed items-center my-3 px-10 py-3.5 bg-blue-600 text-white font-medium text-md leading-tight rounded shadow-md">
                  <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                  </svg>
                  &nbsp;Processing...
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- scripts -->
  <script type="text/javascript">

    document.getElementById("checkout_button").addEventListener("click", checkoutclicked)

    function checkoutclicked() {
      const form = document.querySelector('#buyform')
      if (form.checkValidity()) {
        let processing = document.getElementById('processing_button')
        let checkout = document.getElementById('checkout_button')
        checkout.style.display = 'none'
        processing.style.display = 'flex'


        const formData = new FormData(form)
        //const values = [...formData.entries()]
        fetch('/config/')
          .then(result => {
            return result.json()
          })
          .then(data => {
            const stripe = Stripe(data.publicKey)
            fetch(
              '/create-checkout-session/?' +
              new URLSearchParams({
                body: JSON.stringify(Object.fromEntries(formData)),
              }),
            )
              .then(result => {
                return result.json()
              })
              .then(data => {
                return stripe.redirectToCheckout({ sessionId: data.sessionId })
              })
              .then(res => {
                console.log('')
              })
          })
      }
      return false
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

</body>

</html>