<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <!-- Google tag (gtag.js) -->
    <script async
      src='https://www.googletagmanager.com/gtag/js?id=G-47QLHS22VC'></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-47QLHS22VC');
  </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Privacy Policy | Techneith</title>
  </head>

  <body>
    <div class="px-2 sm:px-16 md:px-24 lg:px-36 xl:px-48 mt-16">
      <h1 class="text-4xl md:text-5xl text-center text-[#1A3454] font-bold">Privacy
        Policy</h1>
      <p class="mt-10 text-[#374151] text-justify py-4">Techneith Software, Inc.
        ("techneith") has established this Privacy Policy because your privacy
        is extremely important to us. You provide us with personal information
        that you expect will be kept confidential. Any personal information that
        you may provide to us will be used to provide you, our customer, better
        information, products and services.
        This policy describes how we collect and use your personal information.
        Please read the complete Privacy Policy, as this Policy applies to
        anyone who uses this website worldwide. We may need to revise our
        Privacy Policy at times, and we suggest that you revisit this page
        frequently to review the most current Privacy Policy.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Information
        We Collect and Store</h2>
      <h3 class="py-5 text-2xl md:text-4xl text-gray-800 font-semibold">Personal
        Data We Collect</h3>
      <p class="py-4 text-[#374151] text-justify">We may collect
        business-relevant personal data, which includes information that
        identifies or relates to an identifiable individual ("Personal Data").
        This may include your name, physical address, telephone number, email
        address, and company affiliation that is publicly available on the
        internet. We do not collect sensitive or highly personal data.</p>
      <h3 class="py-5 text-2xl md:text-4xl text-gray-800 font-semibold">Information
        You Provide</h3>
      <p class="py-4 text-[#374151] text-justify">We may collect Personal Data
        when you register or log in to your account, download trial or free
        software, sign up for newsletter services, download patches, purchase
        software, register software, use our support forums, or contact support.
        This data is used to provide services and validate your access to
        purchased products and our forums.</p>
      <h3 class="py-5 text-2xl md:text-4xl text-gray-800 font-semibold">Lawful
        Basis for Processing Personal Data</h3>
      <p class="py-4 text-[#374151] text-justify">In processing your Personal
        Data in connection with the purposes described in this Privacy Policy,
        we rely on the legal basis of Legitimate Interest. We collect Personal
        Data that is necessary for managing and promoting our business,
        maintaining a product supplier to customer business relationship which
        includes but is not limited to; product information and marketing
        communication, maintaining data and network security, improving website
        and product performance and customer experience, and preventing fraud
        and malicious acts.
        In addition, Direct Marketing activities using Legitimate Interest as
        the legal basis uses purchased contact lists or publicly available
        sources of information as contact sources in marketing campaigns.
      </p>
      <h3 class="py-5 text-2xl md:text-4xl text-gray-800 font-semibold">Anonymous/Non-Personal
        Data</h3>
      <p class="py-4 text-[#374151] text-justify">In general, you can visit
        techneith on the World Wide Web or use our products without telling us
        who you are or revealing any information about yourself.</p>
      <p class="py-4 text-[#374151] text-justify">Our websites and products
        collect and store anonymous information about your visit or downloads on
        an aggregate basis. We may also record the name of your Internet service
        provider, browser type, and country of origin. We use this information
        only to measure site activity and to develop ideas for improving our
        sites and products.</p>
      <p class="py-4 text-[#374151] text-justify">
        Our desktop and mobile applications collect anonymous information about
        your use of the application to aid us in planning future improvements.
        Such information includes technical information about your mobile or
        desktop device such as the model and software versions as well as
        information about which features of our applications and services you
        use and the length of time you use such features. Should you encounter
        errors in use of the application, the application may report such errors
        along with information about what activity you were performing at the
        time. All such data are collected and transmitted anonymously.
      </p>
      <p class="py-4 text-[#374151] text-justify">We collect this information
        both directly and via use of third party services such as Google
        Analytics. Please refer to the Google Privacy Policy at
        <a class="text-blue-600" href="http://www.google.com/policies/privacy">http://www.google.com/policies/privacy.</a></p>
      <h3 class="py-5 text-2xl md:text-4xl text-gray-800 font-semibold">Information
        Acquired From External Sources</h3>
      <p class="py-4 text-[#374151] text-justify">
        techneith Marketing conducts outbound marketing campaigns to reach new
        customers. The source of the contact information, their Personal Data,
        comes from trade shows where contact information is voluntarily
        provided, webinar and seminar registrations, publicly available sources
        such as Linkedin and purchased lists from companies such as
        Discover.org. The processing of personal data for direct marketing
        purposes is carried out for legitimate business reasons. Only contacts
        who respond positively to the marketing content or who explicitly
        request to subscribe are maintained in the marketing system.
      </p>
      <h3 class="py-5 text-2xl md:text-4xl text-gray-800 font-semibold">Information
        Associated With You
      </h3>
      <p class="py-4 text-[#374151] text-justify">When you purchase a product,
        we provide you with a product license or other authorization mechanism
        to access the purchased product. We maintain this information to prevent
        fraud and authorize access to the products you purchased as well as
        support services associated with your level of purchase. We provide
        access to this personal data through a customer portal service on our
        website for you to review, manage, renew your subscription, and obtain
        access to your purchased products.</p>
      <p class="py-4 text-[#374151] text-justify">
        If you purchase products through our e commerce facilities for one year
        or recurring subscriptions we do not retain your financial information.
        All payment authorization is performed by a third-party PCI-compliant
        payment processor in encrypted form that does not retain credit card
        information.
      </p>

      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">How We
        Use Personal Data</h2>
      <p class="py-4 text-xl md:text-2xl text-gray-800 font-semibold
        text-justify">
        We may use Personal Data in any of the following ways:
      </p>
      <ul class="list-disc px-6">
        <li class="text-[#374151] py-1 ">
          We may use your Personal Data to process your transactions.
        </li>
        <li class="text-[#374151] py-1 ">
          We analyze collected Information to better understand your needs and
          interests in order that we may improve our service to you.
        </li>
        <li class="text-[#374151] py-1 ">
          We may combine anonymous information with information you provide to
          provide a more personal experience on our website or in our products.
        </li>
        <li class="text-[#374151] py-1 "> We may use Personal Data to contact
          you to follow up on service and support requests that you have
          initiated or to provide services that you request.</li>
        <li class="text-[#374151] py-1 "> We may contact you from time to time
          to inform you about changes in our services, including new product and
          product version announcements.</li>
        <li class="text-[#374151] py-1 "> We post testimonials on our website
          and in our marketing material that may contain Personal Data. Prior to
          posting a testimonial we will obtain your consent to use the
          testimonial information and your name.</li>
        <li class="text-[#374151] py-1 "> Should you download trial software, we
          may contact you for a limited period to communicate with you on the
          progress of your trial or to provide you with product education
          material.</li>
        <li class="text-[#374151] py-1 "> We host webinars and other events that
          may be of interest to our community, and we may contact you about such
          events if we feel they may be of interest to you.</li>

      </ul>
      <p class="py-4 text-xl md:text-2xl text-gray-800 font-semibold
        text-justify">We will not use or disclose Personal Data to third parties
        except:</p>
      <ul class="list-disc px-6">

        <li class="text-[#374151] py-1 ">to our authorized Sub-processors as
          necessary to provide services or products you have requested;</li>
        <li class="text-[#374151] py-1 ">any third party who holds your
          information as agreed to comply with the EU GDPR requirements for
          handling EU personal data;</li>
        <li class="text-[#374151] py-1 ">in other ways described in this privacy
          policy or to which you have otherwise consented;</li>
        <li class="text-[#374151] py-1 ">in the aggregate with other information
          in such a way so that your identity cannot reasonably be determined
          (for example, statistical compilations);</li>
        <li class="text-[#374151] py-1 ">as required by law, for example, in
          response to a subpoena or search warrant;</li>
        <li class="text-[#374151] py-1 ">to outside auditors who have agreed to
          keep the information confidential;</li>
        <li class="text-[#374151] py-1 ">as necessary to protect the rights,
          safety, or property of techneith, its users, or others; this may
          include (for example) exchanging information with other organizations
          for fraud protection and/or risk reduction.</li>
        <li class="text-[#374151] py-1 ">as necessary to enforce the Terms of
          Service.</li>

      </ul>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Marketing
        Communication</h2>
      <p class="py-4 text-[#374151] text-justify">You will receive product and
        services information, special offers, and general marketing material as
        a customer or interested party of techneith's products and services. If
        you don't want techneith to send you e-mail or postal mail regarding
        techneith's products, services, or special offers, you may unsubscribe
        at any time. Unsubscribe links to eliminate further email communications
        are available on all e-mail communication material.</p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">
        Control & Access to Personal Information
      </h2>
      <p class="py-4 text-[#374151] text-justify">You may find out how much
        personal information we have about you at any time by requesting that
        information from techneith. You may change any of your personal
        information at any time or request to be removed from our mailing list
        by sending an email to info@techneith.com.</p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Security
        of Your Personal Data</h2>
      <p class="py-4 text-[#374151] text-justify">Your Personal Data is held on
        limited access servers at techneith in the United States. We take
        reasonable steps to protect the Personal Data provided to us from
        unauthorized access and disclosure.</p>
      <p class="py-4 text-[#374151] text-justify">
        In the course of using certain of our applications and services, you may
        provide our applications or services with access to your data (including
        files and Personal Data), either locally on a device or remotely on
        servers. Where our applications access your Personal Data, we do so only
        for the purpose of providing the service. Our applications may store
        your data locally on your device, for the purpose of improving the
        performance of the application. Where we do store such Personal Data, it
        is stored securely.
      </p>
      <p class="py-4 text-[#374151] text-justify">
        If you choose to use our support services, you may post information on
        our support forums or submit information at your discretion in order to
        more fully describe a problem. Such information may include files
        containing Personal Data or programs. Information that you post on the
        support forums is publicly available to those who have access to the
        forums and it is your responsibility to ensure it does not contain
        personal or sensitive information.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Revision
        of Personal Data</h2>
      <p class="py-4 text-[#374151] text-justify">techneith retains minimum
        Personal Data that is reasonable and expected in the management and
        maintenance of a product supplier to customer relationship. techneith
        customers may review and update their profile and subscription
        information on the techneith website customer portal.
      </p>
      <p class="py-4 text-[#374151] text-justify">If you have issues revising
        your Personal Data, send mail to privacy@techneith.com and state your
        need and contact information for help.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Retention
        and Deletion of Personal Data</h2>
      <p class="py-4 text-[#374151] text-justify">techneith will retain your
        Personal Data for as long as your account is active; as needed to
        provide you products or services; as stated in the Terms of Use
        agreement; as needed for the purposes outlined in this policy or at the
        time of collection; as necessary to comply with our legal obligations,
        honor UNSUBSCRIBE requests, resolve disputes, meet financial audit
        requirements and enforce our agreements; or to the extent permitted by
        law.
      </p>
      <p class="py-4 text-[#374151] text-justify">If requested, techneith will
        delete your Personal Data in a manner designed to ensure that your
        identity cannot be reconstructed or read. A deletion request may not
        result in the complete deletion of your data. Purchase information will
        be maintained for legal and financial audit purposes. Forum submissions
        will be retained as per the Terms of Use Agreement and your name will be
        removed. If you wish to remove your Personal Data, send an email to
        <span class="text-blue-600"><a href="mailto:privacy@techneith.com">privacy@techneith.com</a></span> with “Subject: Remove My Personal Data" and state
        your need and contact information.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Personal
        Data Transfer, Processing and Storage</h2>
      <p class="py-4 text-[#374151] text-justify">We process and store data
        about you on servers located in the USA. Your Personal Data may
        therefore be transferred to, using appropriate security protocols,
        processed and stored in a country different from your country of
        residence, and be subject to privacy laws that are different from those
        in your country of residence. The Personal Data that we store is not
        highly sensitive and is required to conduct normal and expected business
        practices. Specifically, Personal Data, as described in this policy, is
        stored on US-based data servers or in Cloud Storage Services managed by
        US and International companies. We and all third party companies with
        which we engage with have committed to complying with the 2018 EU GDPR
        privacy regulation for EU residents. Based on the Lawful basis
        definition, as defined by the EU GDPR regulation, techneith's use and
        storage of minimal Customer Personal Data, the Legitimate Interests
        basis is the appropriate legal basis of data storage and use. It is a
        reasonable and expected use of customer and prospective customer data.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Use of
        Cookies</h2>
      <p class="py-4 text-[#374151] text-justify">techneith uses cookies to
        ensure that the content we publish on our site is what our customers
        need and want. Cookies are small text files that are used to identify
        users as they access information throughout our site. When someone
        enters our website, a cookie is placed on their machine (only if the
        person accepts cookies) or is read if the person has previously visited
        our website.
      </p>
      <p class="py-4 text-[#374151] text-justify">Our cookies do not track or
        collect any personal information. They are used to provide our customers
        with the most useful information through understanding what areas of our
        site receive the most traffic and interest.
      </p>
      <p class="py-4 text-[#374151] text-justify">If you choose to disable
        cookies on your computer browser, you may not be able to fully access
        all of the products or services found on our site.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Third
        Party Links</h2>
      <p class="py-4 text-[#374151] text-justify">techneith's website contains
        links to other sites on the Internet. We do not share your personal
        information with those sites, nor are we responsible for the content on
        their websites.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Children</h2>
      <p class="py-4 text-[#374151] text-justify">Our website does not target
        nor is it intended to attract children under 13 years old. techneith
        does not knowingly solicit, collect, or accept personal information from
        children under 13 years of age.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Changes
        to this Privacy Policy</h2>
      <p class="py-4 text-[#374151] text-justify">techneith will occasionally
        change and update this Privacy Policy. Any changes made to this Privacy
        Policy will be posted on this site. If we make any substantial changes
        in our Privacy Policy, we will post a notice on this site.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Submissions</h2>
      <p class="py-4 text-[#374151] text-justify">techneith will treat any
        remarks, suggestions, requests or ideas communicated to techneith
        through this website as non-confidential. techneith will be entitled to
        use any such submissions for any commercial or other purpose whatsoever,
        without compensation to you or any other person sending the submission.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Terms
        of Use</h2>
      <p class="py-4 text-[#374151] text-justify">Our Terms of Use are subject
        to this Privacy Policy.
      </p>
      <h2 class="py-6 text-3xl md:text-4xl text-[#1A3454] font-semibold">Contacting
        Us</h2>
      <p class="py-4 text-[#374151] text-justify">For questions or concerns
        about your Personal Data, review, correction, or deletion of your
        Personal Data you can contact us at <span class="text-blue-600"><a href="mailto:privacy@techneith.com">privacy@techneith.com.</a></span>
        Please be sure to include your name, company name, email address,
        telephone number and your specific question, comment or concern.</p>
    </div>
  </body>

</html>